<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span jhiTranslate="addressfieldApp.contact.detail.title">Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="addressfieldApp.contact.firstName">First Name</span></dt>
                <dd>
                    <span>{{contact.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="addressfieldApp.contact.lastName">Last Name</span></dt>
                <dd>
                    <span>{{contact.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="addressfieldApp.contact.address">Address</span></dt>
                <dd>
                    <span>{{contact.address}}</span>
                </dd>
                <dt><span jhiTranslate="addressfieldApp.contact.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{contact.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="addressfieldApp.contact.email">Email</span></dt>
                <dd>
                    <span>{{contact.email}}</span>
                </dd>
                <dt><span jhiTranslate="addressfieldApp.contact.dob">Dob</span></dt>
                <dd>
                    <span>{{contact.dob}}</span>
                </dd>
                <dt><span jhiTranslate="addressfieldApp.contact.user">User</span></dt>
                <dd>
                    {{contact.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
